@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,500;1,100;1,200;1,300;1,400&display=swap");

body {
  background-color: #fdeff4;
  font-family: "Montserrat", sans-serif;
}
.title {
  font-size: 1.5rem;
  font-weight: bold;
}
.subtitle {
  font-size: 1.3rem;
  font-weight: bold;
}
.primary-bg-color {
  background-color: #131112;
}
.secondary-bg-color {
  background-color: #ff5c8d;
}
.basic-bg-color {
  background-color: #fdeff4;
}
.primary-color {
  color: #524a4e;
}
.category-color {
  background-color: #d82148;
}
img {
  object-fit: cover;
}
.box-top-right {
  width: 150px;
}
.corousel-text {
  width: 60%;
  height: 100%;
  text-align: center;
  margin: 0 auto;
  border: 1px solid red;
}
.bg-white {
  background-color: white;
}
.vertical-auto {
  margin-top: auto;
  margin-bottom: auto;
}
.border-bottom {
  border-bottom: 1px solid #850c48;
}
.footer-category {
  list-style-type: none;
  list-style-position: outside;
}
.footer-category-header {
  border-bottom: 1px dashed silver;
  font-weight: bold;
}
.top-right-content {
  font-size: 0.87rem;
}
.text-content {
  text-align: justify;
}
a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: #770d2d;
  background-color: #524a4e;
}

h1 {
  font-size: 1.8rem;
}

h2 {
  font-size: 1.6rem;
}

h3 {
  font-size: 1.4rem;
}

h4 {
  font-size: 1.4rem;
}

p {
  line-height: 1.6;
}
